body {
    background-image: url(https://images.unsplash.com/photo-1513639725746-c5d3e861f32a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F05454;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cristmath {
    background-color: rgba(251, 248, 249, 0.82); 
    height: 250px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

.days, .hour, .minutes, .second{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}

.red {
    color: #FC3C3C;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    border: none;
}

button {
    margin-left: 60px;
    border: 3px solid black;
    cursor: pointer;
}


@media all and (max-width:800px) {
    h1 {
        font-size: 40px;
    }
}

@media all and (max-width:500px) {
    h1 {
        font-size: 30px;
    }
}